.navbar_navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0;
}

.navbar-text, .navbar-home {
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none; 
}

.navbar-home {
    margin-right: auto;
}